{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--Main:start-->
<main class="container mt-xxxx-large">
    <!--    rules&regulations:start-->
    <div class="rules&regulations">
        <div class="title">
            <p class="fs-5">
                <img src="{% '/img/T&C.svg'%}" width="50px" alt="">
            </p>
            <p class="fs-3">
                شرایط و قوانین استفاده از سرویس‌ها و خدمات شاپیک
            </p>
            <p class="text-secondary mt-2">کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی
                شاپیک به دقت ملاحظه فرمایید.
                ورود کاربران به وب‏‌سایت شاپیک هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری
                شاپیک و سایر خدمات ارائه شده توسط شاپیک به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین
                نحوه استفاده از سرویس‌‏ها و خدمات شاپیک است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی
                پذیرفتن کامل کلیه شرایط و قوانین شاپیک از سوی کاربر است. لازم به ذکر است شرایط و قوانین مندرج،
                جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود</p>
        </div>
        <div class="accordion mt-5" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                        قوانین عمومی
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                     aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>توجه داشته باشید کلیه اصول و رویه‏‌های شاپیک منطبق با قوانین جمهوری اسلامی ایران،
                            قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت
                            قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های شاپیک
                            تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید
                            که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.</strong>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                        تعریف مشتری یا کاربر
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                     aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <strong>
                            مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت‌نام درج کرده است، به ثبت سفارش یا هرگونه استفاده از خدمات شاپیک اقدام کند.
                            همچنین از آنجا که شاپیک یک وب‌سایت خرده‌فروشی آنلاین است، طبق قانون تجارت الکترونیک مشتری یا مصرف کننده هر شخصی است که به منظوری جز تجارت یا شغل حرفه‌ای به خرید کالا یا خدمات اقدام می‌کند.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                        نظرات کاربران
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                     aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <strong>هدف از ایجاد بخش نظرات در شاپیک، اشتراک‌گذاری تجربه‌ی خرید و کاربری محصولاتی است که
                            به فروش می‌رسد. بدیهی است بخش نظرات شاپیک با دیگر سایت‌ها و شبکه‌های اجتماعی متفاوت است.
                            در این بخش، هر کاربر مجاز است در چهارچوب شرایط و قوانین سایت، نظرات خود را به اشتراک بگذارد
                            و پس از بررسی کارشناسان تایید، نظرش را روی سایت مشاهده کند. بدیهی است که اگر قوانین سایت در
                            نظرات کاربری رعایت نشود، تایید نمی‌شوند و در نتیجه در سایت به نمایش درنمی‌آیند. شاپیک در
                            قبال درستی یا نادرستی نظرات منتشرشده در این قسمت، هیچ‌گونه مسئولیتی ندارد. نمایش نظرات
                            کاربران در سایت به‌هیچ‌وجه به معنی تایید فنی شاپیک درباره‌ی محتویات نظر نیست؛ لذا از
                            کاربران محترم تقاضا می‌شود، نظرات را اصل و پایه‌ی انتخاب و تصمیم‌گیری خود قرار ندهند.

                            شرایط و قوانین درج نظر در بخش نظرات کاربران
                            ۱. فارسی بنویسید و از کیبورد فارسی استفاده کنید. بهتر است از فضای خالی (Space) بیش از حد
                            معمول، کشیدن حروف یا کلمات، استفاده‌ی مکرر از یک حرف یا کلمه، شکلک و اموجی در متن خودداری
                            کنید.
                            ۲. برای نظر یا نقد و بررسی خود عنوانی متناسب با متن انتخاب کنید. یک عنوان خوب کاربران را
                            برای خواندن نظر شما ترغیب خواهد کرد.
                            ۳. نقد کاربران باید شامل قوت‌ها و ضعف‌های محصول در استفاده‌ی عملی و تجربه‌ی شخصی باشد و
                            مزایا و معایب به‌صورت خلاصه و تیتروار در محل تعیین‌شده درج شود. لازم است تا حد ممکن از
                            مبالغه و بزرگ‌نمایی مزایا یا معایب محصول خودداری کنید.
                            ۴. نقد مناسب، نقدی است که فقط معایب یا فقط مزایا را در نظر نگیرد؛ بلکه به‌طور واقع‌بینانه
                            معایب و مزایای هر محصول را در کنار هم بررسی کند.
                            ۵. با توجه به تفاوت در سطح محصولات مختلف و تفاوت عمده در قیمت‌های آن‌ها، لازم است نقد و
                            بررسی هر محصول با توجه به قیمت آن صورت گیرد؛ نه به‌صورت مطلق.
                            ۶. جهت احترام‌گذاشتن به وقت بازدیدکنندگان سایت، لازم است هنگام نوشتن نقد، مطالب غیرضروری را
                            حذف کرده و فقط مطالب ضروری و مفید را در نقدتان لحاظ کنید.
                            ۷. با توجه به ساختار بخش نظرات، از سوال‌کردن یا درخواست راهنمایی در این بخش خودداری کرده و
                            سوال یا درخواست راهنمایی خود را در بخش پرسش و پاسخ مطرح کنید.
                            ۸. کاربران ارسال‌کننده‌ی نظر موظف‌اند از ادبیات محترمانه استفاده کرده و از توهین به دیگر
                            کاربران یا سایر افراد پرهیز کنند. بدیهی است هرگونه توهین به فرد یا افراد و استفاده از کلمات
                            نامناسب، باعث تاییدنشدن نظر کاربر می‌شود.
                            ۹. قسمت نظرات سایت، با تالارهای گفت‌وگو (فروم) متفاوت است؛ لذا برای حفظ ساختار، مباحث خارج
                            از چهارچوبی که حالت بحث و گفت‌وگو دارد، تایید نخواهد شد.
                            ۱۰. تمام کاربران حق دارند نظرات خود را به شرط رعایت قوانین، در سایت منتشر کنند؛ لذا حتی اگر
                            نظری را به دور از واقعیت، جانب‌دارانه یا اشتباه یافتید، نباید نظردهنده را مخاطب قرار دهید یا
                            از وی انتقاد کنید. هر کاربر تنها می‌تواند نظر خود را عنوان کرده و قضاوت را به خوانندگان
                            نظرات واگذار کند.
                            ۱۱. از طریق نمودار تغییر قیمت در سایت می‌توانید از تغییرات قیمت آگاه شوید؛ لذا به‌هیچ‌وجه در
                            بخش نظرات مبلغ «قیمت» را ذکر نکرده، درباره‌ی آن سؤال نکنید و نظری ندهید.
                            ۱۲. در نظرات خود، از بزرگ‌نمایی یا اغراق درباره‌ی قوت‌ها یا ضعف‌های محصول خودداری کنید.
                            بدیهی است تا حد ممکن هرگونه نظر مبالغه‌آمیز یا به دور از واقعیت تایید نخواهد شد.
                            ۱۳. با توجه به مسئولیت سایت در قبال لینک‌های موجود در آن، نباید لینک سایت‌های دیگر را در
                            نظرات خود ثبت کنید. دقت داشته باشید تا جای ممکن از هرگونه لینک‌دادن (فرستادن) دیگر کاربران
                            به سایت‌های دیگر و درج ایمیل یا نام کاربری شبکه‌های اجتماعی خودداری کنید.
                            ۱۴. تنها نظراتی تایید خواهند شد که مرتبط با محصول موردنظر باشند؛ لذا بحث‌های متفرقه و
                            غیرمرتبط با محصول را مطرح نکنید.
                            ۱۵. کاربران می‌توانند نقد خود به هر بخش از شاپیک را در قسمت مربوط اعلام کنند؛ لذا
                            هیچ‌گونه نقدی را درباره‌ی سایت یا خدمات آن در قسمت نظرات ننویسید.
                            ۱۶. توجه داشته باشند، مسائلی را که از آن اطمینان ندارید، به‌هیچ‌وجه در نظرات ثبت نکنید؛
                            همچنین از بازنشر شایعات یا اطلاعات غیرمطمئن درباره‌ی محصولات جدا خودداری کنید.
                            ۱۷. بهتر است مطالبی در این بخش ثبت شود که برای بازدیدکنندگان سایت مفید باشد؛ لذا از بیان
                            هرگونه مطالب شخصی، غیرمرتبط یا غیرضروری در این بخش پرهیز کنید.
                            ۱۸. لازم است نظرات خود را به صورت نگارشی ثبت کرده و از کوتاه‌کردن کلمات یا استفاده از ادبیات
                            محاوره تا جای ممکن خودداری کنید. استفاده از ادبیات نوشتاری که قابلیت نمایش در سایت را داشته
                            باشد، لازمه‌ی تایید نظرات کاربران است.
                            ۱۹. کامنت هایی که با عرف جامعه مغایر هستند مثل کامنت های کالاهای جنسی تایید نخواهند شد.

                            شرایط ارسال پرسش یا پاسخ:
                            - بهتر است پرسش و پاسخ کوتاه و مختصر باشد؛ زبان و رسم‌الخط فارسی و اسلوب نگارش هم در آن
                            رعایت شده باشد.
                            - برای آگاهی از تغییرات قیمت از نمودار تغییر قیمت در سایت استفاده کنید و به‌هیچ‌وجه در بخش
                            پرسش و پاسخ در مورد «قیمت» نپرسید.
                            - از پرسش و پاسخ درباره‌ی آدرس سایر فروشگاه‌های فیزیکی یا اینترنتی و استفاده از لینک خودداری
                            کنید.
                            - پرسش خودتان را فقط یک بار و زیر محصول موردنظرتان بنویسید.
                            - از ثبت اطلاعات شخصی از قبیل ایمیل، شماره تماس و نام کاربری شبکه‌های اجتماعی در بخش پرسش و
                            پاسخ پرهیز کنید.

                            توجه داشته باشید که نظر یا پرسش و پاسخ فقط باید در رابطه با کالا باشد، بنابراین برای پیگیری
                            یا سوال درباره سفارش یا استفاده از خدمات پس از فروش با امور مشتریان شاپیک (شماره
                            تلفن‌های ۶۱۹۳۰۰۰۰ یا ۹۵۱۱۹۰۹۵ – ۰۲۱) تماس بگیرید یا از طریق فرم صفحه "تماس با ما" با انتخاب
                            موضوع پیگیری سفارش یا خدمات پس از فروش، سوال یا درخواست خود را مطرح کنید.
                            برای ارسال سایر درخواست‌ها یا پیشنهادها، انتقاد یا شکایت های خود نیز از فرم صفحه "تماس با
                            ما" استفاده کنید یا به ایمیل آدرس info@Shopik.com ایمیل ارسال کنید.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    rules&regulations:end-->
</main>
<!--Main:end-->

{% endblock %}