{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--Main:start-->
<main class="container mt-xxxx-large">
    <!--    Search:start-->
    <div class="search">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-3">
                <!--                Search Filters:start-->
                <div class="search-filters border border-radius-3xl py-2 px-3 filter-wrapper">
                    <h3 class="fs-5 fw-bold mt-2 filter-heading">فیلتر ها</h3>

                    <div class="accordion accordion-flush mt-4 filter-accordion" id="accordionFlushExample">
                        <div class="accordion-item border-0 section-category">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed toggle-category" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    دسته بندی
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse content-category"
                                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body body-category">
                                    <ul class="list-category">
                                        <li class="item-category"><a href="">کالای دیجیتال</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-category"></label>
                                        </li>
                                        <li class="item-category"><a href="">خانه و آشپزخانه</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-category"></label>
                                        </li>
                                        <li class="item-category"><a href="">دفتر و کتاب</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-category"></label>
                                        </li>
                                        <li class="item-category"><a href="">ورزش و سفر</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-category"></label>
                                        </li>
                                        <li class="item-category"><a href="">میز و کتابخانه</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-category"></label>
                                        </li>
                                        <li class="item-category"><a href="">لباس</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-category"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item border-0 section-brand">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed toggle-brand" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    برند
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse content-brand"
                                 aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body body-brand">
                                    <ul class="list-brand">
                                        <li class="item-brand"><a href="">کالای دیجیتال</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-brand"></label>
                                        </li>
                                        <li class="item-brand"><a href="">خانه و آشپزخانه</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-brand"></label>
                                        </li>
                                        <li class="item-brand"><a href="">دفتر و کتاب</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-brand"></label>
                                        </li>
                                        <li class="item-brand"><a href="">ورزش و سفر</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-brand"></label>
                                        </li>
                                        <li class="item-brand"><a href="">میز و کتابخانه</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-brand"></label>
                                        </li>
                                        <li class="item-brand"><a href="">لباس</a>
                                            <label><input type="checkbox" class="form-check-input checkbox-brand"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item border-0 section-price">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed toggle-price" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                    محدوده قیمت
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse content-price"
                                 aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body body-price">
                                    <div class="price-wrapper">
                                        <div class="price-input price-from">
                                            <span>از</span>
                                            <input type="text" class="text-price input-from" value="1,300">
                                            <span>تومان</span>
                                        </div>
                                        <div class="price-input price-to">
                                            <span>تا</span>
                                            <input type="text" class="text-price input-to" value="8,999">
                                            <span>تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-check form-switch mt-2 filter-available-wrapper">
                        <input class="form-check-input input-available" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label label-available" for="flexSwitchCheckDefault">فقط کالاهای موجود</label>
                    </div>

                    <div class="d-grid gap-2 mt-3 filter-btn-wrapper">
                        <a href="" class="btn-auth2 btn-filter">
                            <i class="fa fa-filter icon-filter"></i>
                            فیلتر کن!
                        </a>
                    </div>
                </div>

                <!--                Search Filters:end-->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 d-flex justify-content-center align-items-center">
                <div class="not-found-box d-flex justify-content-center align-items-center flex-column">
                    <img src="{% '/img/not-found.svg'%}" alt="">
                    <div class="message-box">
                        <p class="fw-bold">
                            <i class="fa fa-info-circle"></i>
                            کالایی با این مشخصات پیدا نکردیم
                        </p>
                        <p class="fw-lighter">پیشنهاد می‌کنیم فیلترها را تغییر دهید</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    Search:end-->

</main>
<!--Main:end-->

{% endblock %}